#!/bin/sh

if /usr/sbin/haproxy -c -V -f /etc/haproxy/haproxy.cfg ; then
  ls -d -1 /etc/ssl/haproxy/* > /etc/haproxy/crt-list.txt
  ls -d -1 /etc/ssl/private/mage-snakeoil-combined.pem >> /etc/haproxy/crt-list.txt
  /usr/sbin/service haproxy restart
  logger -s "mage: [info] Haproxy reloaded with renewed certs."
else
  logger -s "mage: [error] Haproxy didn't reload with renewed certs, config test failed."
fi
